.workexperience-section{
    padding-left: 125px;
}
.tech-skill p{
    text-align: center;
    background-color: black;
    padding: 3px 5px;
    border-radius: 30px;
}
.text{
    color: rgb(4, 4, 4);
}
.verticale-section{
    margin-top: 20px;
    margin-bottom: 40px;
}