.about-section{
    box-shadow: 15px 9px 9px -2px rgba(230, 224, 224, 0.86);
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 125px;
    height: 400px;
}
.about-image{
    height: 300px;
    width: 300px;
    border-radius: 190px;
    margin: 50px 50px 50px 10px;
}
.about-image img{
    width: 100%;
}
.about-details{
    margin-top: 50px;
}
.about-details p{
    margin-top: 20px;
}
.about-title h5{
    text-align: center;
}
.line{
    display: block;
    width: 70px;
    height: 3px;
    margin: 1px auto;
    background-color: yellowgreen;
}

@media screen and (max-width: 480px) {
    .about-image{
        margin: 25px auto;
        height: 270px;
        width: 270px;
    }
    .about-section{
        padding: 25px;
        margin: 50px 0px;
        height: auto;
    }
    .about-details{
        margin: 50px auto;
        padding: 0 50px;
        text-align: center;
    }
  }
  @media (min-width: 481px) and (max-width: 1020px){
    .about-image{
        margin: 25px auto;
        height: 300px;
        width: 300px;
    }
    .about-section{
        height: auto;
    }
  }