.contact-section {
    height: auto;
    padding-left: 140px;
    margin: 50px auto;
    
}

.contact-section .row {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.contact-form-image img {
    height: 500px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.contact-form input {
    height: 50px;
    border-radius: 10px;
    margin-top: 10px;
    width: 100%;
    margin-bottom: 20px;
}

.contact-form textarea {
    border-radius: 10px;
    margin-top: 10px;
    width: 100%;
    margin-bottom: 20px;
}

.contact-form-design{
    padding: 0 40px;
}
.button-submit {
    background-color: #1D9A6C;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    margin-top: 40px;
    border: none;
}

.button-submit:hover {
    background-color: rgba(10, 139, 27, 0.582);
    transition: 1s all ease-in-out;
}

.text-center h5{
    padding: 6px 0;
    color:#0E4D64;
}
@media screen and (max-width: 480px) {
    .contact-section {
        padding: 20px 5px;
        margin: 50px auto;
        height: auto;
    }
    .contact-form-design{
        padding: 0;
    }

    .contact-section .row {
        margin: 20px 5px;
    }

    .text-center h5 {
        margin: 20px 0;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .contact-section {
        margin: 0 auto;
        padding: 0 12px;
    }
}

@media (min-width: 769px) and (max-width: 1000px) {
    .contact-section {
        padding: 0 20px;
    }
}